{{define "header_upload"}}
<header class="header">
  <a href="/app" class="logo">Noema</a>
  <nav class="nav">
    <div class="nav-group">
      <a href="/app" class="nav-link">Dashboard</a>
      <a href="/app/new" class="nav-link">New Evaluation</a>
      <a href="/upload" class="nav-link">Upload</a>
      <a href="/verify" class="nav-link">Verify</a>
    </div>
    <div class="nav-group nav-group-secondary">
      <a href="/logout" class="nav-link">Log out</a>
    </div>
  </nav>
</header>
{{end}}
